@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root{
    --core0: #F23E16;
    --core1: #E25111;
    --core2: #64311e;
    --core3: #0d0d0db1;
}

body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0px;
    color: #333;
    background-color: white;
}
header {
    background-image: linear-gradient(to bottom, var(--core0), var(--core2));
    min-height: 100px;
    padding-top: 40px;
    text-align: center;
}
.logo {
    color: white;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 2px 7px 7px rgba(0, 0, 0, 0.535);
}
nav {
    background-color: black;
    padding: 15px;
    text-align: center;
    width: 100%;
    max-width: 200px;

    a {
        color: white;

        border-radius: 4px;
        padding: 15px;
        text-decoration: none;
        margin: 10px;

        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: 18px;

        transition-duration: 1s;

        &:hover {
            color: white;
            background-color: #F23E16;
            filter: brightness(1);
        }
    }
}


main > h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.content img {
    width: 100%; /*Torna a imagem responsiva*/
    max-width: 200px;
    height: auto;

    margin: auto;
    padding: 1.5px;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.365);
}

@media (max-width: 730px) {
    .content img {
        max-width: 125px;
    }
}

.content {
    padding: 20px;
    text-align: center;
    text-decoration: none;

    h1 {
        min-height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
   
}

.linkContatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    a {
        margin: 10px;
        text-decoration: none;
        color: black;

        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bold;
            transition-duration: 0.5s;
        }

        &:hover > p {
            background-color:var(--core1) ;
            text-decoration: none;
            filter: brightness(1);
            
            transition-duration: 0.5s;
            color: white;

            margin: auto;
            padding: 2px;
            border-radius: 5px;
        }
    }
    
    img {
        width: 55px;
    }
    
}


.footer {
    background-color: black;
    color: orange;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
}